.container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
}

h1 {
    text-align: center;
}

body {
    margin: 0;
}

a {
    display: flex;
    justify-content: center;
    place-items: center;
    height: 50px;
    width: 90%;
    background-color: #eee;
    margin-top: 10px;
    margin-bottom: 5px;
    text-decoration: none;
    color: black;
    margin-left: 5%;
}
.sehir {
    display: block;
    text-align: center;
}